AL.gitignore
Actionscript.gitignore
Ada.gitignore
Agda.gitignore
FileContentIndex.gitignore
VisualStudio.gitignore
04fe9d22-00a3-4caa-a0a0-9844c4ad55a3.gitignore

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
